<template>
    <el-container>
        <el-main style="padding:5px">
            <DomainChecker />
        </el-main>
    </el-container>
</template>

<script>
    import DomainChecker from './components/DomainChecker.vue'
    export default {
        components: {
            DomainChecker
        }
    }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
}
</style>
